@page "/"

@using global::Photobox.Web.Image
@using MudBlazor;

@inject ImageService imageService;

<PageTitle>PictureGallery</PageTitle>

<h1 class="heading">Gallery</h1>


@if (_imageNames.Count > 0)
{
    <div class="gallery">
        @foreach (var imageName in _imageNames)
        {
            <div class="container">
                <MudImage Src="@GetImagePath(imageName)" Alt="Description" Class="image" />

                <div class="button-left">
                    <MudButton Variant="Variant.Filled" Href="@GetDownloadLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download</MudButton>
                </div>

                <div class="button-right">
                    <MudButton Variant="Variant.Filled" Href="@GetPrintLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Print" Color="Color.Info">Print</MudButton>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No images found.</p>
}

@code {
    private List<string> _imageNames = [];

    protected override async Task OnInitializedAsync()
    {
        _imageNames = await imageService.ListImagesAsync();

        _imageNames.Reverse();

    }

    private string GetImagePath(string imageName)
    {
	    return imageService.GetPreviewImagePreSignedUrl(imageName);
    }

    private static string GetDownloadLink(string imageName)
    {
	    return $"/api/Image/GetImage/{imageName}";
    }

    private static string GetPrintLink(string imageName)
    {
	    return $"/api/Image/PrintImage/{imageName}";
    }
}
