@page "/"
@using Photobox.Web.Services

@inject ImageService imageService;

<PageTitle>PictureGallery</PageTitle>

<h1 class="mb-4">Gallery</h1>

@if (_images.Count > 0)
{
    <MudStack>
        @foreach (var imageName in _images.Keys)
        {
            <MudStack Class="mb-3" Spacing="0">
                <MudImage Class="rounded-1" Src="@_images[imageName]" Alt="Description" Fluid="true"/>
                
                <MudButton Class="rounded-0" Variant="Variant.Filled" Href="@GetDownloadLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download</MudButton>

                @* <div class="button-right"> *@
                @*     <MudButton Variant="Variant.Filled" Href="@GetPrintLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Print" Color="Color.Info">Print</MudButton> *@
                @* </div> *@
            </MudStack>
        }
    </MudStack>
}
else
{
    <p>No images found.</p>
}

@code {
    private Dictionary<string, string> _images = [];
    
    protected override async Task OnInitializedAsync()
    {
        var imageNames = await imageService.ListImagesAsync();
        imageNames.Reverse();

        foreach (var name in imageNames)
        {
            _images[name] = await imageService.GetPreviewImagePreSignedUrl(name);
        }
        
    }

    private static string GetDownloadLink(string imageName)
    {
	    return $"/api/Image/GetImage/{imageName}";
    }

    private static string GetPrintLink(string imageName)
    {
	    return $"/api/Image/PrintImage/{imageName}";
    }
}
