@page "/"
@using MudBlazor;
@using Photobox.Web.Services

@inject ImageService imageService;

<PageTitle>PictureGallery</PageTitle>

<h1 class="heading">Gallery</h1>


@if (_images.Count > 0)
{
    <div class="gallery">
        @foreach (var imageName in _images.Keys)
        {
            <div class="container">
                <MudImage Src="@_images[imageName]" Alt="Description" Class="image" />

                <div class="button-left">
                    <MudButton Variant="Variant.Filled" Href="@GetDownloadLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download</MudButton>
                </div>

                <div class="button-right">
                    <MudButton Variant="Variant.Filled" Href="@GetPrintLink(@imageName)" Size="Size.Large" StartIcon="@Icons.Material.Filled.Print" Color="Color.Info">Print</MudButton>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No images found.</p>
}

@code {
    private Dictionary<string, string> _images = [];
    
    protected override async Task OnInitializedAsync()
    {
        var imageNames = await imageService.ListImagesAsync();
        imageNames.Reverse();

        foreach (var name in imageNames)
        {
            _images[name] = await imageService.GetPreviewImagePreSignedUrl(name);
        }
        
    }

    private static string GetDownloadLink(string imageName)
    {
	    return $"/api/Image/GetImage/{imageName}";
    }

    private static string GetPrintLink(string imageName)
    {
	    return $"/api/Image/PrintImage/{imageName}";
    }
}
